@model CustomCMS.Core.Model.SocialMediaModel

<script src="~/Content/bower_components/jquery/dist/jquery-1.8.2.min.js"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            @using (Html.BeginForm("Index", "SocialMedia", FormMethod.Post, new { @class = "form-horizontal" }))
            {
                <div class="box box-primary">
                    <div class="box-header with-border">
                        @if (Model.Id != null && Model.Id > 0)
                        {
                            <h3 class="box-title">Update Social Media Detail</h3>
                        }
                        else
                        {
                            <h3 class="box-title">Add Social Media Detail</h3>
                        }
                        <a href="@Url.Action("SocialMediaList", "SocialMedia")" class="btn btn-default pull-right"><i class="fa fa-angle-left"></i> Back </a>
                    </div>
                    <div class="box-body">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-sm-4">Social Media Name</label>
                                <div class="col-sm-8">
                                    @Html.DropDownListFor(s => s.SMId, Model.SocialMediaList, "Select Social Media",
                                        new Dictionary<string, object>()
                                        {
                                                { "class", "form-control" },
                                                { "placeholder", "Select Social Media" }
                                        })
                                    @Html.ValidationMessageFor(m => m.SMId, null, new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4">Social URL</label>
                                <div class="col-sm-8">
                                    @Html.TextBoxFor(s => s.SocialURL, new Dictionary<string, object>()
                                                           {
                                                                { "type", "text" },
                                                                { "class", "form-control" },
                                                                { "placeholder", "Ex.: http://google.co.in/" },
                                                            })
                                    @Html.ValidationMessageFor(m => m.SocialURL, null, new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-4 col-sm-8">
                                    <div class="checkbox">
                                        <label>
                                            @Html.CheckBoxFor(s => s.SocialStatus) Is Active ?
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-footer">
                        @Html.HiddenFor(s => s.Id)
                        <input type="submit" value="Submit" class="btn btn-primary pull-right" />
                    </div>
                </div>
            }
        </div>
    </div>
</section>
